<?xml version="1.0" encoding="utf-8" ?>



<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogToConsole="true" internalLogLevel="Trace">
  ...<targets>
    <target name="exceptions" xsi:type ="file" fileName="C:\Users\ramgirish.k\copy of newrepo\Corporate-Clubs\CorporateClubs.services\exceptions.txt" layout="${longdate} ${callsite} ${level} ${message}" keepFileOpen="false"/>
    </targets>
  
  
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="f1"/>
    </rules>
  
  
</nlog>