.head
{
    a{
        text-decoration: none
    }
    position:fixed;
    text-decoration-color: white;
    color:white;
    background-color: rgba(84, 62, 107, 0.808);
    min-height: 56px;
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
.leftHead
{   display:flex;
    align-items: center;
    margin-left: 1.2em;
    .headname
{
    font-family:Microsoft JhengHei Light;
    font-weight: lighter;
    margin-left:2.5rem;
    font-size:1.2rem;
    margin-right: 0.5rem;
}
}

.rightHead
{
    margin-right:2rem;
    .profile
    {   position: relative;
        display:flex;
        align-items: center;
        .options
        {
            position:relative;
            margin-left:20px;
        }
        .dropdown-content-hide {
            opacity: 1;
           
            right: 0px;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            margin-top:90px;
            
          }
          .dropdown-content-display {
            border: none;
            padding:0px;
            opacity: 1;
            bottom: -150px;
            right: 0px;
            display: block;
            position: absolute;
            background-color: white;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 2;
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
             -ms-transition: all .25s ease;
              -o-transition: all .25s ease;
                 transition: all .25s ease;
                 -webkit-font-smoothing:antialiased;
          }
          
          .dropdown-content-display p {
            opacity: 1;
            cursor:pointer;
            float: none;
            color:grey;
            padding: 12px 30px;
            text-decoration: none;
            display: block;
            text-align: left;
            font-size:1.2em;
         
            &:hover
            {
                background-color: gray;
                color: black
            }
          }
          
          .dropdown-content-display p:active {
            opacity: 1;
            background-color: #ddd;
            color: black;
          
          }
          &:hover
          {
            .dropdown-content-display
            {
                display: inline-block;
            }
          }
       
    }
    
    svg
    {
        margin-right:1.2rem;
    
    }

    .profilepic
    {
        border-radius: 50%;
        height:2.5rem;
        width:2.5rem;
        margin-right:0.6rem;
    }
}

}
